html
  head
    title= title

    include ./meta

    link(href='/css/index.css', rel='stylesheet')
  body
    .h1 Hello World
    .dude
      img(src='/img/theDudeBathroom.jpg')

    script(src='/js/index.js')